footer {
    background-color: lightgray;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

header.headertd1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.container-meteo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

div.divmeteo {
    background-color: gainsboro;
    flex: 1 1 300px;
    padding: 15px;
    border-radius: 8px;
}